{% set page_title = page.title %}
{% set page_url = config['siteUrl'] %}
{% set page_description = "About " + config['siteName'] %}
{% extends "base.html" %}
{% block content %}
  <div class="grid-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Reports &amp; analysis</span>
        <h1 class="govuk-heading-xl">{{page.title}}</h1>
        <h2 class="govuk-heading-l">{{page.date_published}}</h2>
        <hr>
        <div class="govuk-body">
          {% markdown %}
            {{page.content|safe}}
          {% endmarkdown %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}