{% set page_title = "Volunteer" %}
{% set page_url = config['siteUrl'] + "/volunteer" %}
{% set page_description = "Become a COVID Secure checker" %}
{% from "govuk-jinja-components/button/macro.jinja" import govukButton -%}
{% extends "base.html" %}
{% block title %}Become a Covid-Secure monitor{% endblock %}
{% block content %}
  <div class="grid-container">
    <section role="main" class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <h1 class="govuk-heading-xl">Become a workplace monitor</h1>
        <p class="govuk-body">
          We’re asking people to take a short survey about how safe their workplace is. This will help us measure how safe different jobs are during the pandemic, as people go back to work.
        </p>
        <p class="govuk-body">
         We can’t help resolve your problems directly, or offer individual advice, but we need to know what’s going on so we have an accurate picture of how employers are responding to health and safety concerns. This will help us put pressure on all employers to live up to the best standards.
        </p>
        <p class="govuk-body">
          We’ll never publish individual survey responses.
        </p>

        <form id="mailinglist" action="{{config['mailchimpSignupUrl']}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <h2 class="govuk-heading-m">Enter your email address to become a workplace monitor</h2>
          <div class="govuk-form-group">
            <label class="govuk-label" for="mce-EMAIL">Email address</label>
            <span id="email-hint" class="govuk-hint">
              We’ll use your email to send you surveys every couple of weeks
            </span>
            <input type="email" class="govuk-input" value="" name="EMAIL" id="mce-EMAIL" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
            <p>
              {{govukButton({"text": "Join"})}} 
            </p>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}