{% set page_title = "Volunteer" %}
{% set page_url = config['siteUrl'] + "/volunteer" %}
{% set page_description = "Become a COVID Secure checker" %}
{% from "govuk-jinja-components/button/macro.jinja" import govukButton -%}
{% extends "base.html" %}
{% block title %}Become a Covid-Secure monitor{% endblock %}
{% block content %}
  <div class="grid-container">
    <section role="main" class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <h1 class="govuk-heading-xl">Become a workplace monitor</h1>
        <p class="govuk-body">
          We asked people to take a short survey about safety in their workplace is. The results helped us measure how safe different jobs were during the pandemic, and we published some of the anonymised evidence on our reports page.</p>
        <p class="govuk-body">Now we have archived the project we are no longer conducting surveys.</p>
        <p class="govuk-body">If you are interested in union resources and activities around Coronavirus, you can <a href="https://www.tuc.org.uk/resource/covid-19-coronavirus-guidance-unions-updated-04-jan-2021">visit our page on the TUC website</a>.</p>
      </div>
    </section>
  </div>
{% endblock %}
